{% extends 'back.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event</h1>

    <form action="{{ path('app_event_admin') }}" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Search by name" value="{{ app.request.query.get('search') }}" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
   <div class="d-flex mb-3">
    <a href="{{ path('app_event_sort_by_nom') }}" class="btn btn-light mr-2">Sort by Name</a>
    <a href="{{ path('app_event_sort_by_datedeb') }}" class="btn btn-light">Sort by Date</a>
</div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Datedeb</th>
            <th>Datefin</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nom }}</td>
                <td>{{ event.datedeb ? event.datedeb|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.datefin ? event.datefin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_event_exel') }}" class="btn btn-dark waves-effect waves-light">Download xlsx</a>
    <a href="{{ path('app_event_new') }}">Create new</a>

    {{ knp_pagination_render(events)
}}

{% endblock %}
