{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1>GREEN WAY</h1>
									<h2>EVENTS </h2>
									<p>check our events </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{ asset('front/images/home/girl1.jpg') }}" class="girl img-responsive" alt="" />
									<img src="{{ asset('front/images/home/pricing.png') }}"  class="pricing" alt="" />
								</div>
							</div>
                            {% for event in events %}
							 <div class="item">
								<div class="col-sm-6">
									<h1>{{ event.nom }}</h1>
									<h2>{{ event.datedeb ? event.datedeb|date('Y-m-d H:i:s') : '' }}</h2>
									<p>{{ event.description }}</p>
									<button type="button" class="btn btn-default get">Book it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{ asset('front/images/home/girl2.jpg') }}" class="girl img-responsive" alt="" />
									<img src="{{ asset('front/images/home/pricing.png') }}"  class="pricing" alt="" />
								</div>
                                      

						</div>   {% endfor %}
{# 							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free Ecommerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{ asset('front/images/home/girl3.jpg') }}" class="girl img-responsive" alt="" />
									<img src="{{ asset('front/images/home/pricing.png') }}" class="pricing" alt="" />
								</div>
							</div> #}
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	
	</section><!--/slider-->
	
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nom }}</td>
                <td>{{ event.datedeb ? event.datedeb|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.datefin ? event.datefin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.image }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
