
    <table border=32  class="table">
        <thead>
            <tr>
                <th>Idmateriaux</th>
                <th>Type</th>
                <th>Taux de recyclage</th>
                <th>Date d'expiration</th>
                <th>Condition d'utilisation</th>
            </tr>
        </thead>
        <tbody>
        {% for materiaux in liste %}
            <tr>
                <td>{{ materiaux.idmateriaux }}</td>
                <td>{{ materiaux.type }}</td>
                <td>{{ materiaux.taux }}</td>
                <td>{{ materiaux.duree }}</td>
                <td>{{ materiaux.conditionUt }}</td>
               
            </tr>
        {% endfor %}
    </table>