{% extends 'back.html.twig' %}

{% block body %}
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: center; margin-left: 300px; margin-top: 65px;">

            <div class="card" style="">
                <div class="card-body" style="height: 600px; width: 500px; padding: 80% 100; font-size: 10px; margin: 5px;">
                    <h5>Ajouter un materiaux</h5>

                    <!-- General Form Elements -->
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                    <div class="form-group" style="margin-top:20px">
                        {{ form_label(form.type, 'Type:', {label_attr: {'style': 'margin-bottom: 10px;'}}) }}
                       <div style="margin-left: 150px; margin-top: 20px;">
                      {{ form_widget(form.type, {attr: {class: 'form-control'}, 'choice_widget': 'select'}) }}
                        </div>
                        {{ form_errors(form.type, {attr: {class: 'text-danger'}}) }}
                    </div>

                    <div class="form-group" style="margin-top:20px">
                        {{ form_label(form.conditionUt, 'Condition d\'utilisation:') }}
                        <div style="margin-left: 150px; margin-top: 15px;">
                        {{ form_widget(form.conditionUt, {attr: {class: 'form-control'}, 'choice_widget': 'select'}) }}
                        </div>
                        {{ form_errors(form.conditionUt, {attr: {class: 'text-danger'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.taux, 'Taux de recyclage:') }}
                        {{ form_widget(form.taux, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.taux, {attr: {class: 'text-danger'}}) }}
                    </div>

                    <div class="col-sm-10">
    {{ form_label(form.duree, "Date d'expiration:") }}
    {{ form_widget(form.duree, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
    {{ form_errors(form.duree) }}
</div>

                    <br/>
<button type="submit" class="btn btn-primary">Create</button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
    

     <a href="{{ path('app_materiaux_index') }}">retour</a>
{% endblock %}