{% extends 'back.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <br><br><br><br>

    {# {% for product in products %}
<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{ asset('front/images/home/product1.jpg')}}" alt="{{ product.image }}" />
											<h2>{{ product.price }}</h2>
											<p>{{product.description}}</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>{{ product.price }}</h2>
												<p>{{product.description}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
                        {% endfor %} #}
    <table class="table">
        <thead>
            <tr>
                <th>IdProduct</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.idProduct }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.image }}</td>
                <td>
                    <a href="{{ path('app_prod_show', {'id_Product': product.idProduct}) }}">show</a>
                    <a href="{{ path('app_prod_edit', {'id_Product': product.idProduct}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prod_new') }}">Create new</a>
{% endblock %}
