{% extends 'back.html.twig' %}

{% block title %}User index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock %}
{% block body %}
    <h1>User Management</h1>
    <form class="search-form" method="POST" action="{{ path('app_user_search') }}">
        <label>
            <input type="radio" name="searchType" value="name" checked> Search by name
        </label>
        <label>
            <input type="radio" name="searchType" value="email"> Search by email
        </label>
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Password</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.telephone }}</td>
                
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
<a href="{{ path('app_user_exel') }}">Create EXEL</a>
{% endblock %}
