<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Votre Information</title>
    
</head>
<body>

<h1> FICHE UTILISATEUR : {{ pdf.nom }} </h1>


<div class="header">
    <h1>NOM DE L'UTILISATEUR : {{ pdf.nom }}</h1>
</div>
<div class="content">
    <p>Prénom : {{ pdf.prenom }}</p>
    <p>Email : {{ pdf.email }}</p>
    <p>Téléphone : {{ pdf.telephone }}</p>
    <p>PAssword : {{ pdf.password }}</p>

</div>
</body>
</html>

<style>
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
    }
    .header {
        background-color: #008080;
        color: #fff;
        padding: 20px;
    }
    .content {
        padding: 20px;
    }
    .footer {
        background-color: #008080;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
</style>
