{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <h1>Password Reset</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    <button type="submit" class="btn btn-primary">{{ form_label(form.submit) }}</button>
    {{ form_end(form) }}
    
    {% if newPassword is defined %}
        <div class="alert alert-success" role="alert">
            Your new password is: {{ newPassword }}
        </div>
    {% endif %}
{% endblock %}

